.pdd img {
   margin-bottom: 10px;
}
.pdd {
   text-align: center;
}
.pdd h2 {
   padding-left: 10%;
   padding-right: 10%;
}
.pdd div {
   margin-bottom: 30px;
}
.img-thumbnail {
   padding: 10px;
}
.option {
   margin-bottom: 30px;
}
#logout {
   left: 0px;
   position: absolute;
   bottom: 50px;
}
#back {
   left: 0px;
   position: absolute;
   bottom: 100px;
}
.btn-primary:hover {
   border-color: white;
   background: none;
}
.btn-primary {
   background-color: RGBA(255, 255, 255, 0.5);
   border-color: white;
}
#LoginPage ul {
   list-style: none;
   text-align: center;
}
#LoginPage ul li {
   padding: 30px;
   margin-bottom: 30px;
}
.AcceptButton {
   margin-left: calc(50% - 150px);
   width: 300px;
   border-radius: 10px;
   background-color: #ccb600;
   height: 70px;
}
.AcceptButton button {
   top: 0px;
   color: black;
   font-size: 22px;
   width: 300px;
   border-radius: 10px;
   background-color: #ffe400;
   height: 65px;
}
#checkit {
   width: 300px;
   margin-left: calc(50% - 150px);
}
qr-scanner {
   margin-top: 10%;
   margin-left: calc(50% - 300px);
}
#result {
   text-align: center;
   list-style: none;
   line-height: 100px;
}
.option {
   font-size: 20px;
   padding-top: 20px;
   height: 70px;
   cursor: pointer;
   border: 3px;
   border-style: solid;
}
.choosen {
   background-color: red;
}
.unchoosen {
   background-color: white;
}
