<div class="pdd" ng-hide="showresult">
   <h1><small>Вопрос {{currentquestionnumber}} из {{questionscount}}</small></h1>
   </br>
   <img class="col-sm-offset-1 col-sm-10 img-thumbnail" src="{{currentquestion.url}}" alt="">
   </br>
   <div class="col-sm-offset-1 col-sm-10"><h3>{{currentquestion.question}}</h3></div>
   </br>
   <div class="options">
         <div id="btn1" class="btn btn-default col-sm-offset-1 col-sm-4 option option1" ng-click="check(currentquestion.option1)">{{currentquestion.option1}}</div>
         <div id="btn2" class="btn btn-default col-sm-offset-2 col-sm-4 option option2" ng-click="check(currentquestion.option2)">{{currentquestion.option2}}</div>
         <div id="btn3" class="btn btn-default col-sm-offset-1 col-sm-4 option option3" ng-click="check(currentquestion.option3)">{{currentquestion.option3}}</div>
         <div id="btn4" class="btn btn-default col-sm-offset-2 col-sm-4 option option4" ng-click="check(currentquestion.option4)">{{currentquestion.option4}}</div>
   </div>
   </br>
</div>
<div id="checkit" class="btn btn-default option" ng-show="ApplyAnswer" ng-click="NextQuestion(myChoose)">Подтвердить</div>
<div ng-show="showresult">
   <ul id="result">
      <li><div class="alert">Вы ответили правильно на {{correctanswers}} вопросов из {{questions.length}}</div></li>
      <li><div class="btn btn-default option" type="button" name="button" ng-click="GoToLogin()">Завершить тест</div></li>
   </ul>
</div>
